/* for page */


button{
    /* width: 100%; */
    border-radius: 30px;
    background:#104B86;
    color: #fff;
    font-size: 12px;
    width: -webkit-fill-available;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(255,255,255,0.96);
    -moz-box-shadow: 2px 2px 0px 0px rgba(255,255,255,0.96);
    box-shadow: 2px 2px 0px 0px rgba(255,255,255,0.96);
}
p{margin: 0;}

.download{
    position: absolute;
    right: 30px;
    font-weight: bold;  
}
.download img{
    height: 25px;
}
/* accordion css ends */




  .placeholderForReports{
    letter-spacing: 5px;
    margin: 25px;
    font-size: 20px;
    color: #fff;
    font-family: PS,sans-serif;
    text-transform: uppercase;
    max-width: 100%;
    max-height: 100%;
    margin-top: 15vh;
    justify-content: center;
    text-align: -webkit-center;
}
.placeholderForReports p{
    width: 60%;
}


