<div class="page">
    <div style="width:100vw; overflow:hidden">
      <div class="searchbar">
        <div class="row">
          <div class="col-lg-3 col-sm-12" style="text-align:center;align-self: center;"><div  class="searchbox"><input type="text" placeholder="Search Support"><img src="assets/search.svg"></div></div>
          <div class="col-lg-9 col-sm-12" Style="border: none; align-self: center; opacity:1"><div class="title1 topTitle" style="margin:0 0 0 25px;">Support - My Company</div></div>
        </div>
      </div>
    </div>
      <div class="cont">
          <div class="row">
              <div class="col-lg-3 col-sm-12">
  
                  <div class="title1">
                     SUPPORT
                  </div>
                  <!-- Quarters with multiple reports  -->
                  <div class="optionlabelparent"  (click)="openfaq()">
                    <div class="optionlabel" Style="position:relative;">
                      <img src="assets/eye.svg" style="width: 20px;" alt="ivisUSA"><div class="label"> Frequently Asked Questions </div><div class="accordionArrow"><img src="assets/forward_arrow.svg" alt="drop"></div>
                    </div>
                    <div class="panel" hide="!item.isActive">
                      <div class="accordionElements"> <span class="dot"></span><p style="margin: 0 0 0 20px">Question 1</p>   </div>
                      <div class="accordionElements"> <span class="dot"></span><p style="margin: 0 0 0 20px">Question 2</p>   </div>
                      <div class="accordionElements"> <span class="dot"></span><p style="margin: 0 0 0 20px">Question 3</p>   </div>
                    </div>
                  </div> 
                  <!-- Quarters with multiple reports  -->
                  <div class="optionlabelparent"  (click)="openContactUs()">
                    <div class="optionlabel" Style="position:relative;">
                      <img src="assets/eye.svg" style="width: 20px;" alt="ivisUSA"><div class="label"> Contact Us </div><div class="accordionArrow"><img src="assets/forward_arrow.svg" alt="drop"></div>
                    </div>
                    <div class="panel" hide="!item.isActive">
                      <div class="accordionElements"> <span class="dot"></span><p style="margin: 0 0 0 20px">Contact 1</p>   </div>
                      <div class="accordionElements"> <span class="dot"></span><p style="margin: 0 0 0 20px">Contact 2</p>   </div>
                      <div class="accordionElements"> <span class="dot"></span><p style="margin: 0 0 0 20px">Contact 3</p>   </div>
                    </div>
                  </div> 
                  <br>
              </div>
              <!-- Left Column Ends -->
  
              <!-- Right Column Starts -->
              <div class="col-lg-9 col-sm-12">
                <!-- Code for FAQ starts here -->
                <div *ngIf="faq">
                <div class="title1">
                    frequently asked questions
                </div>
                <hr id="hr1">
                
                <div>
                  <div class="optionlabel2" Style="position:relative;" (click)="toggleAccordian($event)">
                      <span>Guard</span><div class="accordionArrowBig"><img src="assets/forward_arrow.svg" alt="expand"></div>
                  </div>
                  <div class="panel" hide="!item.isActive">
                    <div class="childBox">
                      <div class="optionlabel3" Style="position:relative;" (click)="toggleAccordian1($event)">
                        <span>Insight</span><div class="accordionArrow1"><img src="assets/forward_arrow.svg" alt="expand"></div>
                      </div>
                      <div class="panel" hide="!item.isActive">
                        <div class="accordionElements1" (click)="toggleAccordian2($event)">  
                          <div style="display:block">
                            <div style="display:flex; position:relative;">
                              <span class="faqTitle">Lorem ipsum dolor sit amet?<img src="assets/minus.svg" class="minus" alt="close"><img src="assets/plus.svg" class="plus" alt="expand"></span>
                            </div>
                            <div class="panel2">
                              <span class="faqContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>  
                            </div>
                            <div style="height: 30px;">&nbsp;</div>
                            <hr #hr2 style="margin:0">
                          </div>
                        </div> 
                        <div class="accordionElements1" (click)="toggleAccordian2($event)">  
                          <div style="display:block">
                            <div style="display:flex; position:relative;">
                              <span class="faqTitle">Lorem ipsum dolor sit amet?<img src="assets/minus.svg" class="minus"><img src="assets/plus.svg" class="plus" alt="expand"></span>
                            </div>
                            <div class="panel2">
                              <span class="faqContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>  
                            </div>
                            <div style="height: 30px;">&nbsp;</div>
                            <hr #hr2 style="margin:0">
                          </div>
                        </div>                       
                      </div> 
                    </div>                                           
                  </div>                    
                </div>  
                <!-- code for FAQ ends here -->
                </div>

                  
                <!-- Code for contact us starts here -->
                <div *ngIf="contactUs">
                  <div class="title1">
                    Contact Us
                  </div>
                  <hr id="hr1">
                  <div class="optionlabel2" Style="position:relative;" (click)="toggleAccordian($event)">
                    <span>Area for Troubleshoot</span><div class="accordionArrowBig"><img src="assets/forward_arrow.svg"></div>
                  </div>
                  <div class="panel" hide="!item.isActive">
                    <!-- <div class="opton">  <img src="assets/eye.svg" style="width: 20px;"><p style="margin-left: 15px">Contact 1</p>   </div> -->
                  </div>

                  <div class="optionlabel2" style="display:block; padding:40px; min-height: 300px">
                    <div style="padding-bottom: 25px">
                      Please explain the issue:
                    </div>
                    <div style=" font-size:15px">
                      <textarea placeholder="Your message here" style="border:none;outline:none; color:#7f7f7f; width:-webkit-fill-available; min-height: 150px; max-height:1000px"></textarea>              
                    </div>
                  </div>

                  <div style="text-align:left">
                    <button class="generateBtn" (click)="submitIssue()">
                      Submit Now
                    </button>
                  </div>

                </div>
                <!-- Code for contact us ends here -->
              </div>
            <!-- Column with Reports Ends -->
            </div>
            <!-- Row Ends -->
        </div>
  </div>
  
  
  
  
  