.page {
    align-items: center;
    /* background: linear-gradient(325deg, rgba(0, 7, 39, 0.9) 18%, rgba(29, 0, 0, 0.9) 66%), url("../../assets/background.jpg ") !important;
  background-size:cover;
  background-repeat: repeat-y; */
    /* min-height: 100vh; */
}

.title {
    color: #104b86;
    padding: 8px;
    padding-bottom: 3px;
    font-size: 25px;
    font-weight: 600;
    font-family: SG, sans-serif;
}

.loginbox {
    transform: scale(1.38);
    width: 300px;
    height: 235px;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    margin: -118px 0 0 -150px;
    border: 2px solid #104b86;
    border-radius: 30px;
    background: #fff;
    color: #7f7f7f;
    text-align: center;
    text-align: -webkit-center;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(16, 75, 134, 0.96);
    -moz-box-shadow: 2px 2px 0px 0px rgba(16, 75, 134, 0.96);
    box-shadow: 2px 2px 0px 0px rgba(16, 75, 134, 0.96);
}

.inputblock {
    display: block;
}

.inputblock span {
    font-size: 12px;
    font-family: TP, sans-serif;
    color: #104b86;
}

.loginbox input {
    width: fit-content;
    border: 1px solid #7f7f7f;
    position: relative;
    display: block;
    outline: none;
    height: 30px;
    margin: 0 auto;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    color: #7f7f7f !important;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(16, 75, 134, 0.96);
    -moz-box-shadow: 2px 2px 0px 0px rgba(16, 75, 134, 0.96);
    box-shadow: 2px 2px 0px 0px rgba(16, 75, 134, 0.96);
}

.signinBtn {
    outline: none;
    border: none;
    cursor: pointer;
    font-family: TP, sans-serif;
    width: 80px;
    color: #fff;
    background-color: #104b86;
    font-size: 15px;
    padding: 15px;
    margin-top: 5px;
    border-radius: 18px;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(184, 184, 184, 0.96);
    -moz-box-shadow: 2px 2px 0px 0px rgba(184, 184, 184, 0.96);
    box-shadow: 2px 2px 0px 0px rgba(184, 184, 184, 0.96);
}

.forgotPassBtn {
    cursor: pointer;
    font-size: 10px;
    margin-top: 5px;
    color: #104b86;
    font-family: TP, sans-serif;
}


/* new login page design */

.loginpage {
    height: 100vh;
    background: url("../../assets/login-bg.jpg");
    overflow-y: hidden !important;
}

.loginpagebg {
    width: 100vw;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: hidden;
}

.logo {
    position: absolute;
    top: 55px;
    left: 55px;
    width: 300px;
    z-index: 99;
}

.logincont {
    background: #fff;
    word-wrap: break-word;
    width: 30%;
    /* height: 410px; */
    padding: 20px 30px;
    border-radius: 10px !important;
    text-align: center;
    text-align: -webkit-center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logincont .form {
    padding: 10px;
    text-align: center;
    text-align: -webkit-center;
    position: relative;
    /* top: -50px; */
}

.logincont input {
    width: 100%;
    /* margin: 15px 0;
    height: 72px; */
    margin: 8px 0;
    height: 55px;
    border: 1px solid #adabab;
    border-radius: 10px;
    background: #00000000;
    padding: 20px;
    font-size: 18px;
    color: #7f7f7f;
}

.logincont input:focus {
    outline: skyblue;
    border: rgb(29, 12, 12);
    box-shadow: 1px 1px 1px 3px rgba(136, 206, 236, 0.75);
    -webkit-box-shadow: 1px 1px 1px 3px rgba(136, 206, 236, 0.75);
    -moz-box-shadow: 1px 1px 1px 3px rgba(136, 206, 236, 0.75);
}

.pagetitlelogin {
    font-family: MS, sans-serif;
    text-align: center;
    letter-spacing: 5px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center
}

.error{color: #f54;font-size: 16px; font-weight: 600;}
.forgotpass{text-align: right;color: #104b86;font-size: 14px; cursor: pointer;    width: fit-content;margin-left: auto;}
.signinBtn{width: 65%; padding:15px; border-radius: 30px; background:#24488A}
@media screen and (max-width: 1500px) {
    .logincont {
        width: 350px;
        padding: 5px;
    }
}
@media screen and (min-width: 701px) {.logincont{top: 50%;}}
@media screen and (max-width: 700px) {.logincont{top: 55%;}}
