<!-- <div class="page">
    <app-alert></app-alert>

    <div class="loginbox">
        <div class="title">Client Login</div>
        <div class="loginform">
            <div class="inputblock">
                <span>Username : </span>
                <input type="text" [(ngModel)]="username">
            </div>
            <div class="inputblock">
                <span>Password : </span>
                <input type="password"  [(ngModel)]="password">
            </div>
            <button class="signinBtn" (click)="login()" (keyup.enter)="login()" onsubmit="login()">Login</button>
            <div class="forgotPassBtn" (click)="forgotPass()">Forgot Username or Password?</div>
        </div>
    </div>

</div> -->

<app-loader *ngIf="showLoader"></app-loader>

<div class="loginpage">
    <app-alert></app-alert>

    <img src="assets/login-bg.jpg" class="loginpagebg">
    <img src="assets/IVISsecurity_logo_white.png" class="logo">
    <div class="vv">
        <div class="pagetitlelogin" *ngIf="!forgotPassVisible">CLIENT SIGN IN</div>
        <div class="pagetitlelogin" *ngIf="forgotPassVisible">PASSWORD RECOVERY</div>

        <div class="logincont" (keyup.enter)="login()" *ngIf="!forgotPassVisible">
            <div class="form">
                <input type="text" placeholder="Username" maxlength="25" minlength="5" [(ngModel)]="username" (keyup)="errormsg=''">
                <input type="password" placeholder="Password" maxlength="15" minlength="6" [(ngModel)]="password" (keyup)="errormsg=''">
                <div class="forgotpass" (click)="forgotPassVisible = !forgotPassVisible;errormsg='';">forgot password?</div>
                <div *ngIf="!errormsg" style="font-size: 18px;">&nbsp;</div>
                <div class="error" *ngIf="errormsg">{{errormsg}}</div>
                <button class="signinBtn" (click)="login()" (keyup.enter)="login()" onsubmit="login()" 
                >SIGN IN</button>
            </div>
        </div>


        <div class="logincont" (keyup.enter)="login()" *ngIf="forgotPassVisible">
            <div class="form">
                <input type="text" placeholder="Username" maxlength="25" minlength="5" [(ngModel)]="username" (keyup)="errormsg=''">
                <div class="forgotpass" (click)="forgotPassVisible = !forgotPassVisible; errormsg='';">login!</div>
                <div *ngIf="!errormsg" style="font-size: 18px;">&nbsp;</div>
                <div class="error" *ngIf="errormsg">{{errormsg}}</div>
                <button class="signinBtn" (click)="forgotPass()" (keyup.enter)="forgotPass()" onsubmit="login()" 
                >SUBMIT</button>
            </div>
        </div>


    </div>


</div>