/* for page */

button{
    /* width: 100%; */
    border: 20px solid #104B86;
    border-radius: 30px;
    background:#104B86;
    color: #fff;
    font-size: 10px;
    width: -webkit-fill-available;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(255,255,255,0.96);
    -moz-box-shadow: 2px 2px 0px 0px rgba(255,255,255,0.96);
    box-shadow: 2px 2px 0px 0px rgba(255,255,255,0.96);
}
p{margin: 0;}





  