<app-loader *ngIf="showLoader"></app-loader>

<div class="page">

  <div style="width:100vw; overflow:hidden">
    <div class="searchbar">
      <div class="row">
        <div class="col-lg-3 col-sm-12" style="text-align:center;align-self: center;overflow:visible; padding-left: 20px">
          

          <div class="searchbox">
            <img *ngIf="searchText" src="assets/x.svg" (click)="searchText = ''" style="position: absolute;">
            <input type="text"  (keyup)="onInput($event)" placeholder="Search {{sites?.siteList?.length ? sites?.siteList?.length : ''}} Locations" [(ngModel)]="searchText" #searchinput>
            <!-- {{'Search from '+sites?.siteList?.length+' Locations'}} -->
            <img src="assets/search.svg"> 
          </div>

        </div>
        <div class="col-lg-9 col-sm-12" Style="border: none; align-self: center; opacity:1"><div class="title1 topTitle" style="margin:0 0 0 25px;">{{reportsite}}
          <img src="assets/ivis-sec.svg" class="qr" (click)="toQRmodal()" id="qrcode">
          <div class="tooltiptext">Do you need Safety Escort?</div>
        </div></div>
      </div>
    </div>
  </div>




    <div class="cont" >
        <div class="row">
            <div class="col-lg-3 col-sm-12 judge btnvisible" id="topple" #topple>

                
              <!-- Accordion for Location -->
                <div class="optionlabelparent">
                  <div class="optionlabel" Style="position:relative;" (click)="toggleAccordian($event)" #optionlabel>
                      <img src="assets/eye.svg" style="width: 20px;" alt="ivisUSA"><div class="label"> {{currentsite}}</div><div class="accordionArrow">
                        <img src="assets/forward_arrow.svg" alt="drop" *ngIf="sites?.siteList.length > 1"></div>
                  </div>
                  <div class="panel" hide="!item.isActive" *ngIf="sites?.siteList.length > 1">
                    <!-- <div  *ngIf="sites?.siteList.length > 1" >
                      <div class="accordionElements"><p style="margin: 0 0 0 10px; display:flex"> <img src="assets/search.svg" style="float:right;width: 10px; margin-right:15px;"> <input type="text" placeholder="Search Location"  [(ngModel)]="searchText"> </p></div>
                    </div> -->
                    <div class="accordionElements"  *ngFor="let site of sites?.siteList  | SiteName: searchText" (click)="siteClicked(site)"> <div><span class="dot"></span></div> <p style="margin: 0 0 0 20px; font-size: 12px !important;">{{site.sitename}}</p>   </div>
                  </div>
                </div>
     
                <!-- Month -->
                <div class="optionlabel" style="display: flex; position:relative; margin:6px 5%; padding-bottom:15px; font-family:TP,sans-serif;  border-bottom: 2px solid #666666; border-radius:8px" >
                  <div (click)="visible=!visible" style="width: -webkit-fill-available; display:flex;    align-items: center;">
                    <img src="assets/eye.svg" style="width: 20px;" alt="ivisUSA"><span *ngIf="startDate != 'null'" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: -webkit-calc(100% - (50px))">
                       {{selectedMonth ? selectedMonth : 'Select Month'}}</span><img src="assets/calender.svg" class="calendericon"><br>
                  </div>

                  <div class="calender" *ngIf="visible">
                    <div class="title" style="margin: 5px 0 12px; text-align: center;">
                      <i (click)="prevYear()" [className]="years[0]==2014 ? 'arrow left fade': 'arrow left'"></i>
                      <span style="font-family: PS,sans-serif; font-size:18px;color:#fff; margin:0 30%;"><a style="width: 200px;">{{years[0]}}</a></span>
                      <i (click)="nextYear()" [className]="years[0]==currentyear ? 'arrow right fade': 'arrow right' "></i></div>
                    <div class="months">
                      <div class="grid-cont">
                        <div [className]="years[0]==currentyear && i>currentMonthIndex ? 'gridElements fadeout':'gridElements'" *ngFor="let month of months; let i=index" (click)="selectedmonth(i)">
                          <span style="font-family: PS,sans-serif;">{{month}}</span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- Start Date -->
                <div class="optionlabel" style="display: flex; position:relative; margin:6px 5%; padding-bottom:15px; font-family:TP,sans-serif;  border-bottom: 2px solid #666666; border-radius:8px" >
                  <div (click)="start.toggle()" style="width: -webkit-fill-available; display:flex;    align-items: center;">
                    <img src="assets/eye.svg" style="width: 20px;" alt="ivisUSA"><span *ngIf="startDate != 'null'" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: -webkit-calc(100% - (50px))">
                       Start Date   {{": "+displaYstartDate}}</span><img src="assets/calender.svg" class="calendericon"><br>
                  </div>
                  <form class="dateinputform" >
                    <input type="text" ngbDatepicker #start="ngbDatepicker" class="dateinput" (dateSelect)="onDateSelect($event, 'start')" [minDate]="{year: 2014, month: 1, day: 1}" [maxDate]="maxDate">
                  </form>
                </div>
                <!-- End Date -->
                <div class="optionlabel" style="display: flex; position:relative; margin:6px 5%; padding-bottom:15px; font-family:TP,sans-serif;  border-bottom: 2px solid #666666; border-radius:8px" >
                  <div (click)="end.toggle()" style="width: -webkit-fill-available; display:flex;    align-items: center;" >
                    <img src="assets/eye.svg" style="width: 20px;" alt="ivisUSA"><span *ngIf="startDate != 'null'" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: -webkit-calc(100% - (50px))">
                      End Date   {{": "+displaYendDate}}</span><img src="assets/calender.svg" class="calendericon"><br>
                 </div>
                  <form class="dateinputform" >
                    <input type="text" ngbDatepicker #end="ngbDatepicker" class="dateinput" (dateSelect)="onDateSelect($event, 'end')" [minDate]="{year: 2014, month: 1, day: 1}" [maxDate]="maxDate">
                  </form>
                </div>
                <!-- Generate Button -->
                <div style="text-align:center">
                  <button class="generateBtn" (click)="generateReport()">
                    GENERATE REPORT
                  </button>
                </div>

            </div>
            <!-- Left Column Ends -->

            <!-- Right Column Starts -->
            <div class="col-lg-9 col-sm-12">
                <div class="title1">
                    {{selectedSpan}} 
                    <img src="assets/btnvisible.svg" alt="V" class="visibilitybtn" (click)="showOptions1()">
                </div>
                <hr id="hr1">


                <!-- Data Tables starts here -->
                <div *ngIf="reports != null" class="tables" >
                  <div class="dataTable" *ngFor="let report of reports" >
                    <div class="tableBox" *ngIf="cols">
                        <table class="table" >
                            <thead>
                              <tr>
                                <th class="tabletitlejustify"><p>{{makeTitleForTable(report.name)}}</p></th>
                                <th *ngFor="let col of cols"><p>{{col?.header}}</p></th>
                              </tr>
                            </thead>
                            <tbody *ngFor="let data of report.data">
                              <tr class="tableElements">
                                <th scope="row"><p><img class="icon" [src]="data.icon" onerror="this.src='assets/eye.svg';">{{data.type}}</p></th>
                                <td *ngFor="let col of cols">{{data[col.field] ? data[col.field] : '-'}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                  <!-- Data Table Ends -->
                  </div>
                <!-- Placeholder For Reports -->
                </div>   
                
                <div *ngIf="this.reports == null">
                  <div class="placeholderForReports">
                    <!-- Please Select Start Date and End Date to generate reports<br>&#8592; -->
                    <!-- Please choose different dates to view the reports -->
                    {{placeholderhere}}
                  </div>
                </div>
                
            </div>


              <!-- Reports End -->
           
          <!-- Column with Reports Ends -->
          </div>
          <!-- Row Ends -->
      </div>
</div>

<div id="modal">
  <div class="close" (click)="closemodal()"></div>
  <div id="modalcontent"></div>
</div>